<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  xmlns:xacro="http://www.ros.org/wiki/xacro"
  name="robot">

  <link
    name="base_link">
  </link>


  <link
    name="chassis_link">
    <inertial>
      <origin
        xyz="-1.50742878161203E-16 -4.16333634234428E-17 0.0349999999999999"
        rpy="0 0 0" />
      <mass
        value="0.0660834014682612" />
      <inertia
        ixx="6.99540118235905E-05"
        ixy="2.06199956920822E-22"
        ixz="-2.43487880406245E-19"
        iyy="7.00130698384872E-05"
        iyz="8.50154197152472E-34"
        izz="0.00013969173415596" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rccar_lab/car_urdf/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.250980392156863 0.250980392156863 0.250980392156863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rccar_lab/car_urdf/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="chassis_joint"
    type="fixed">
    <origin
      xyz="-0.00388152940223453 0.0491487550157473 0.0959822836251013"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="chassis_link" />
    <axis
      xyz="0 0 0" />
  </joint>

  <link
    name="fr_wheel_link">
    <inertial>
      <origin
        xyz="9.71445146547012E-17 0.0170468370852515 -2.42861286636753E-17"
        rpy="0 0 0" />
      <mass
        value="0.0746841951683647" />
      <inertia
        ixx="2.49513056185901E-05"
        ixy="6.59448174057087E-20"
        ixz="-3.87740912134232E-22"
        iyy="4.21618272671167E-05"
        iyz="1.03511386444233E-22"
        izz="2.49513056185901E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rccar_lab/car_urdf/meshes/fr_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rccar_lab/car_urdf/meshes/fr_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fr_wheel_joint"
    type="continuous">
    <origin
      xyz="-0.0549999999999998 0.0383500000000002 -0.0135000000000002"
      rpy="0 0 0" />
    <parent
      link="chassis_link" />
    <child
      link="fr_wheel_link" />
    <axis
      xyz="0 -1 0" />
  </joint>
  <link
    name="fl_wheel_link">
    <inertial>
      <origin
        xyz="-3.46944695195361E-17 -0.0170468370852515 -4.68375338513738E-17"
        rpy="0 0 0" />
      <mass
        value="0.0746841951683647" />
      <inertia
        ixx="2.49513056185901E-05"
        ixy="6.54299744512327E-20"
        ixz="2.64956289958392E-22"
        iyy="4.21618272671167E-05"
        iyz="-2.13911019413315E-22"
        izz="2.49513056185901E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rccar_lab/car_urdf/meshes/fl_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rccar_lab/car_urdf/meshes/fl_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fl_wheel_joint"
    type="continuous">
    <origin
      xyz="-0.0550000000000001 -0.0403499999999998 -0.0135000000000002"
      rpy="0 0 0" />
    <parent
      link="chassis_link" />
    <child
      link="fl_wheel_link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="br_wheel_link">
    <inertial>
      <origin
        xyz="6.24500451351651E-17 0.0170468370852515 -3.29597460435593E-17"
        rpy="0 0 0" />
      <mass
        value="0.0746841951683647" />
      <inertia
        ixx="2.49513056185901E-05"
        ixy="5.51824614792902E-20"
        ixz="-6.87836222254764E-22"
        iyy="4.21618272671167E-05"
        iyz="-1.18907017039843E-21"
        izz="2.49513056185901E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rccar_lab/car_urdf/meshes/br_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rccar_lab/car_urdf/meshes/br_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="br_wheel_joint"
    type="continuous">
    <origin
      xyz="0.0550000000000002 0.0383499999999998 -0.0134999999999998"
      rpy="0 0 0" />
    <parent
      link="chassis_link" />
    <child
      link="br_wheel_link" />
    <axis
      xyz="0 -1 0" />
  </joint>
  <link
    name="bl_wheel_link">
    <inertial>
      <origin
        xyz="-2.77555756156289E-17 -0.0170468370852515 -3.64291929955129E-17"
        rpy="0 0 0" />
      <mass
        value="0.0746841951683648" />
      <inertia
        ixx="2.49513056185901E-05"
        ixy="6.33951344235919E-20"
        ixz="1.78522378295136E-21"
        iyy="4.21618272671167E-05"
        iyz="-9.05830818008876E-22"
        izz="2.49513056185901E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rccar_lab/car_urdf/meshes/bl_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rccar_lab/car_urdf/meshes/bl_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="bl_wheel_joint"
    type="continuous">
    <origin
      xyz="0.0549999999999999 -0.0383500000000002 -0.0134999999999998"
      rpy="0 0 0" />
    <parent
      link="chassis_link" />
    <child
      link="bl_wheel_link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="laser_frame">
    <inertial>
      <origin
        xyz="1.57173789229634E-16 0.00645097632173484 -0.0220370930302957"
        rpy="0 0 0" />
      <mass
        value="0.291987614489637" />
      <inertia
        ixx="0.0002404496804147"
        ixy="-3.1288892395143E-19"
        ixz="1.32912845998458E-19"
        iyy="0.000179322343491855"
        iyz="1.7915823262772E-05"
        izz="0.00023562662350046" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rccar_lab/car_urdf/meshes/laser_frame.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rccar_lab/car_urdf/meshes/laser_frame.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="laser_frame_joint"
    type="fixed">
    <origin
      xyz="0 -0.0124999669534474 0.0889299999999999"
      rpy="0 0 0" />
    <parent
      link="chassis_link" />
    <child
      link="laser_frame" />
    <axis
      xyz="0 0 0" />
  </joint>
  <gazebo reference="laser_frame">
      <material>Gazebo/DarkGrey</material>
      <sensor name="laser" type="gpu_lidar">
        <pose> 0 0 0 0 0 0 </pose>
        <visualize>true</visualize>
        <update_rate>10</update_rate>
        <topic>scan</topic>
        <gz_frame_id>laser_frame</gz_frame_id>
        <lidar>
          <scan>
            <horizontal>
              <samples>360</samples>
              <resolution>1</resolution>
              <min_angle>-3.14</min_angle>
              <max_angle>3.14</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.15</min>
            <max>12</max>
            <resolution>0.01</resolution>
          </range>

          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.001</stddev>
          </noise>

        </lidar>

        <always_on>1</always_on>
        <visualize>1</visualize>

      </sensor>

  </gazebo>

  <link
    name="ebox_link">
    <inertial>
      <origin
        xyz="-2.34699262998591E-18 7.10678486645065E-18 0.00665420516682762"
        rpy="0 0 0" />
      <mass
        value="0.0194293141652942" />
      <inertia
        ixx="1.44863163441746E-05"
        ixy="-3.28171735040022E-20"
        ixz="-1.68952862307112E-20"
        iyy="5.88923381835338E-06"
        iyz="-7.36044596547253E-22"
        izz="1.88651943786396E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rccar_lab/car_urdf/meshes/ebox_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rccar_lab/car_urdf/meshes/ebox_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ebox_joint"
    type="fixed">
    <origin
      xyz="0 0 0.00249999999999995"
      rpy="0 0 0" />
    <parent
      link="chassis_link" />
    <child
      link="ebox_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="battery_link">
    <inertial>
      <origin
        xyz="0.000123841648641815 -5.16561475905226E-18 0.00748048339939821"
        rpy="0 0 0" />
      <mass
        value="0.0281697989109725" />
      <inertia
        ixx="2.44479179923402E-06"
        ixy="2.77230971591075E-20"
        ixz="-6.80855024106344E-11"
        iyy="1.06924152126357E-05"
        iyz="2.21389541828885E-23"
        izz="1.21105909928422E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rccar_lab/car_urdf/meshes/battery_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.250980392156863 0.250980392156863 0.250980392156863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rccar_lab/car_urdf/meshes/battery_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="battery_joint"
    type="fixed">
    <origin
      xyz="0 0 -0.0175"
      rpy="0 0 0" />
    <parent
      link="chassis_link" />
    <child
      link="battery_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>