<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="car_URDF">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.0370203007675022 0.0547173526487042 0.0496220881399081"
        rpy="0 0 0" />
      <mass
        value="0.253438557114572" />
      <inertia
        ixx="0.000230915983626972"
        ixy="-1.37690597091021E-21"
        ixz="-7.73123307688292E-21"
        iyy="0.000379937182656872"
        iyz="4.2347419706735E-05"
        izz="0.000180408644851587" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_URDF/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_URDF/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="br_wheel_link">
    <inertial>
      <origin
        xyz="1.3878E-17 -0.017047 -1.0408E-17"
        rpy="0 0 0" />
      <mass
        value="0.074684" />
      <inertia
        ixx="2.4951E-05"
        ixy="4.0567E-21"
        ixz="-4.2352E-21"
        iyy="4.2162E-05"
        iyz="-2.3686E-22"
        izz="2.4951E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_URDF/meshes/br_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_URDF/meshes/br_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="br_wheel_joint"
    type="continuous">
    <origin
      xyz="0.075575 0.007593 0.049368"
      rpy="3.1416 -1.0734 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="br_wheel_link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="bl_wheel_link">
    <inertial>
      <origin
        xyz="6.9389E-18 -0.017047 -1.4745E-17"
        rpy="0 0 0" />
      <mass
        value="0.074684" />
      <inertia
        ixx="2.4951E-05"
        ixy="-7.6597E-22"
        ixz="-2.1176E-22"
        iyy="4.2162E-05"
        iyz="-7.525E-21"
        izz="2.4951E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_URDF/meshes/bl_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_URDF/meshes/bl_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="bl_wheel_joint"
    type="continuous">
    <origin
      xyz="-0.003125 0.007593 0.049368"
      rpy="0 1.5263 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="bl_wheel_link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="fr_wheel_link">
    <inertial>
      <origin
        xyz="-1.3878E-17 -0.017047 0"
        rpy="0 0 0" />
      <mass
        value="0.074684" />
      <inertia
        ixx="2.4951E-05"
        ixy="2.5057E-22"
        ixz="0"
        iyy="4.2162E-05"
        iyz="-1.3475E-21"
        izz="2.4951E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_URDF/meshes/fr_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_URDF/meshes/fr_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fr_wheel_joint"
    type="continuous">
    <origin
      xyz="0.075575 -0.1002 0.027438"
      rpy="0 0.47997 1.5708" />
    <parent
      link="base_link" />
    <child
      link="fr_wheel_link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="fl_wheel_link">
    <inertial>
      <origin
        xyz="-2.3592E-16 -0.017047 3.3307E-16"
        rpy="0 0 0" />
      <mass
        value="0.074684" />
      <inertia
        ixx="2.4951E-05"
        ixy="7.8826E-21"
        ixz="0"
        iyy="4.2162E-05"
        iyz="-6.7603E-22"
        izz="2.4951E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_URDF/meshes/fl_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_URDF/meshes/fl_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fl_wheel_joint"
    type="continuous">
    <origin
      xyz="-0.001125 -0.1002 0.027438"
      rpy="3.1416 -0.33161 1.5708" />
    <parent
      link="base_link" />
    <child
      link="fl_wheel_link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="lidar_link">
    <inertial>
      <origin
        xyz="0.006451 -0.022037 2.0817E-17"
        rpy="0 0 0" />
      <mass
        value="0.29199" />
      <inertia
        ixx="0.00017932"
        ixy="1.7916E-05"
        ixz="-1.9058E-20"
        iyy="0.00023563"
        iyz="3.3881E-21"
        izz="0.00024045" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_URDF/meshes/lidar_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_URDF/meshes/lidar_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lidar_joint"
    type="fixed">
    <origin
      xyz="0.024725 -0.066724 0.13878"
      rpy="1.7715 0 0" />
    <parent
      link="base_link" />
    <child
      link="lidar_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="ebox_link">
    <inertial>
      <origin
        xyz="2.7756E-17 0.0066542 2.0817E-17"
        rpy="0 0 0" />
      <mass
        value="0.019429" />
      <inertia
        ixx="5.8892E-06"
        ixy="-1.5277E-21"
        ixz="-3.497E-21"
        iyy="1.8865E-05"
        iyz="-2.1176E-21"
        izz="1.4486E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_URDF/meshes/ebox_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_URDF/meshes/ebox_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ebox_joint"
    type="fixed">
    <origin
      xyz="0.037225 -0.049493 0.054082"
      rpy="1.7715 0 0" />
    <parent
      link="base_link" />
    <child
      link="ebox_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="battery_link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_URDF/meshes/battery_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_URDF/meshes/battery_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="battery_joint"
    type="continuous">
    <origin
      xyz="0.037224988348698 -0.0429347129901513 0.0218478536619666"
      rpy="1.77150919077425 0 0" />
    <parent
      link="base_link" />
    <child
      link="battery_link" />
    <axis
      xyz="0 1 0" />
  </joint>
</robot>